In [3]:
import numpy as np

In [4]:
a1 = np.array( [[[1, 2, 3],
                [4, 5, 6],
                [8, 9, 2]],
               [[5, 6, 2],
                [2, 8, 5],
                [1, 3, 9]],
               [[2, 4, 5],
                [4, 5, 6],
                [2, 5, 9]]])

In [5]:
a1

array([[[1, 2, 3],
        [4, 5, 6],
        [8, 9, 2]],

       [[5, 6, 2],
        [2, 8, 5],
        [1, 3, 9]],

       [[2, 4, 5],
        [4, 5, 6],
        [2, 5, 9]]])

In [6]:
a2 = np.array([[1, 2, 3],
               [2, 3, 4],
               [4, 5, 6]])

In [7]:
import pandas as pd

In [8]:
df=pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [9]:
d = np.ones((3,3,3))

In [10]:
d

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

In [11]:
dd = np.array([[[1., 1., 1.],
                  [8, 1., 1.],
                  [1., 1., 1.]],

                 [[1., 4, 1.],
                  [1., 1., 1.],
                  [1., 1., 1.]],

                 [[1., 1., 1.],
                  [1., 2, 1.],
                  [1., 1., 1.]]])
dd

array([[[1., 1., 1.],
        [8., 1., 1.],
        [1., 1., 1.]],

       [[1., 4., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 2., 1.],
        [1., 1., 1.]]])

In [12]:
type(dd)

numpy.ndarray

In [13]:
range_array = np.arange(0,15,5)
range_array

array([ 0,  5, 10])

In [14]:
random_array = np.random.randint(0,10, size=(3,3,3))

In [15]:
random_array

array([[[1, 0, 4],
        [4, 5, 3],
        [2, 7, 5]],

       [[1, 8, 2],
        [0, 1, 7],
        [2, 3, 2]],

       [[6, 9, 3],
        [1, 4, 6],
        [8, 4, 2]]])

In [16]:
array = np.random.rand(5,3)
array

array([[0.39298161, 0.14783849, 0.34459082],
       [0.04488134, 0.07424437, 0.81331461],
       [0.48011105, 0.72073901, 0.3257971 ],
       [0.47037336, 0.66655434, 0.0119597 ],
       [0.20009049, 0.65503535, 0.25779323]])

In [17]:
u = np.random.randint(10, size=(5,3))
u

array([[3, 5, 6],
       [4, 9, 8],
       [2, 1, 6],
       [1, 0, 8],
       [6, 8, 0]])

In [18]:
np.unique(u)

array([0, 1, 2, 3, 4, 5, 6, 8, 9])

In [19]:
array = np.random.randint(10,size=(2,3,4,5))
array

array([[[[2, 5, 4, 6, 3],
         [4, 0, 7, 7, 3],
         [8, 0, 2, 3, 4],
         [4, 0, 7, 1, 9]],

        [[6, 6, 0, 8, 3],
         [6, 3, 9, 5, 1],
         [8, 3, 8, 0, 9],
         [2, 2, 6, 8, 9]],

        [[9, 9, 0, 5, 8],
         [5, 2, 9, 2, 4],
         [8, 1, 0, 8, 1],
         [0, 4, 2, 4, 3]]],


       [[[0, 8, 0, 3, 4],
         [3, 4, 1, 6, 3],
         [0, 5, 3, 7, 8],
         [0, 9, 6, 2, 8]],

        [[1, 4, 2, 4, 9],
         [2, 7, 5, 9, 0],
         [3, 3, 1, 1, 3],
         [1, 9, 6, 4, 6]],

        [[5, 8, 2, 7, 8],
         [5, 4, 1, 8, 1],
         [6, 9, 5, 6, 7],
         [3, 2, 4, 5, 1]]]])

In [20]:
array[ : , : , : , :4 ]

array([[[[2, 5, 4, 6],
         [4, 0, 7, 7],
         [8, 0, 2, 3],
         [4, 0, 7, 1]],

        [[6, 6, 0, 8],
         [6, 3, 9, 5],
         [8, 3, 8, 0],
         [2, 2, 6, 8]],

        [[9, 9, 0, 5],
         [5, 2, 9, 2],
         [8, 1, 0, 8],
         [0, 4, 2, 4]]],


       [[[0, 8, 0, 3],
         [3, 4, 1, 6],
         [0, 5, 3, 7],
         [0, 9, 6, 2]],

        [[1, 4, 2, 4],
         [2, 7, 5, 9],
         [3, 3, 1, 1],
         [1, 9, 6, 4]],

        [[5, 8, 2, 7],
         [5, 4, 1, 8],
         [6, 9, 5, 6],
         [3, 2, 4, 5]]]])

In [22]:
np.random.seed(0)
mat1 = np.random.randint(10, size = (3,5))
mat1

array([[5, 0, 3, 3, 7],
       [9, 3, 5, 2, 4],
       [7, 6, 8, 8, 1]])

In [23]:
mat2 = np.random.randint(10, size = (3,5))
mat2

array([[6, 7, 7, 8, 1],
       [5, 9, 8, 9, 4],
       [3, 0, 3, 5, 0]])

In [30]:
mat2= mat2.T
mat2.shape

(5, 3)

In [31]:
mat3 = np.dot(mat1,mat2)
mat3

array([[ 82, 104,  39],
       [130, 146,  52],
       [205, 229,  85]])

In [33]:
butter_data= np.random.randint(20,size = (5,3))
butter_data

array([[18,  3, 17],
       [19, 19, 19],
       [14,  7,  0],
       [ 1,  9,  0],
       [10,  3, 11]])

In [41]:
butter = pd.DataFrame(butter_data,
         index = ("Mon", "Tue", "Wed", "Thu", "Fri"),
         columns= ("Almond", "Peanut", "cashew"))

In [42]:
butter

     Almond  Peanut  cashew
Mon      18       3      17
Tue      19      19      19
Wed      14       7       0
Thu       1       9       0
Fri      10       3      11

In [38]:
prices = np.array([10,8,12])
prices

array([10,  8, 12])

In [50]:
butter_prices = pd.DataFrame(prices.reshape(1,3),
                            index = ["price"],
                            columns=("Almond", "Peanut", "cashew") )
butter_prices

       Almond  Peanut  cashew
price      10       8      12

In [53]:
total_sales = butter_prices.dot(butter.T)
total_sales

       Mon  Tue  Wed  Thu  Fri
price  408  570  196   82  256

In [59]:
butter["Weekly sale"] = total_sales.T
butter

     Almond  Peanut  cashew  Weekly sale
Mon      18       3      17          408
Tue      19      19      19          570
Wed      14       7       0          196
Thu       1       9       0           82
Fri      10       3      11          256

<img src = "images/panda.png"/>

In [62]:
from matplotlib.image import imread

In [66]:
panda = imread("images/panda.png")
type(panda)

numpy.ndarray

<img src="images/car-photo.png"/>

In [68]:
car = imread("images/car-photo.png")

In [71]:
type(car)

numpy.ndarray